#canvas-container {
    box-sizing: border-box;
    background-color: red;
    border: 1rem solid black;
    width: 40%;
    position: relative;
    overflow: hidden;
}

#canvas-container::before {
    content: "";
    display: inline-block;
    padding-top: 100%;
}

canvas {
    position: absolute;
}